.top-page {
  width: 100%;
  height: 100vh;
  position: relative;
}

video {
  min-width: 100%;
  min-height: 100vh;
  background-size: cover;
  position: fixed;
  z-index: -2;
}

.top-header {
  display: flex;
  width: 100%;
  align-items: center;
  position: absolute;
  z-index: 1;
  background: rgba(0,0,0,0.3)
}

.top-left-header {
  display: flex;
}

.top-travel-mood-logo {
  font-size: 40px;
  font-family: helvetica;
  text-shadow: 1px 1px 1px black;
  color: white;
  z-index: 1;
  margin: 0 15px;
}

.top-right-header {
  z-index: 1;
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.top-sign-up {
  color: white;
  font-size: 20px;
}

.top-sign-in {
  color: white;
  font-size: 20px;
}

.appear-message {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.appear-message-text {
  color: white;
  font-size: 60px;
  font-family: helvetica;
  text-shadow: 2px 2px 3px black;
  z-index: 3;
}

.about-btn {
  margin-top: 50px;
}

.about-white-btn {
  color: white;
  font-size: 40px;
  font-family: helvetica;
  text-shadow: 1px 1px 1px black;
  margin-top: 20px;
  height: 30px;
  display: inline-block;
  padding: 0.3em;
}

.about-white-btn:hover {
  animation: zoom .3s;
}

@keyframes zoom {
	50% {
		transform: scale(1.05);
  }
}