<div class="top-page">
  <h1>Video</h1>
  <div class="wrap-video">
    <%= video_tag("/assets/videos/mixkit-turquoise-blue-water-bay-from-above-5008.mp4", autoplay: :true, loop: :true, muted: :true) %>
  </div>
</div>
