.header {
  display: flex;
  align-items: center;
  background: rgba(0,0,0,0.3)
}

.left-header {
  display: flex;
}

.travel-mood-logo {
  font-size: 30px;
  color: white;
  z-index: 1;
  margin-right: 10px;
}

.right-header {
  z-index: 1;
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.sign-up {
  color: white;
  font-size: 20px;
}

.sign-in {
  color: white;
  font-size: 20px;
}