<div class="user-edit-page">

  <%= render 'shared/header' %>

  <div class="user-edit-wrap">

    <h1 class="user-edit-title">
      ユーザー情報編集
    </h1>

    <%= form_with model: @user, local: true do |f| %>
      <div class="name-edit-group">
        <div class="name-edit-label">
          <%= f.label :"ニックネーム" %>
      <%= f.text_field :name, class: 'input-default', autofocus: true, autocomplete: "name" %>
  


  </div>

</div>